@keyframes cambio {
    0%{margin-left: 0;}
    12%{margin-left: 0;}
    18%{margin-left: -100%;}
    30%{margin-left: -100%;}
    36%{margin-left: -200%;}
    48%{margin-left: -200%;}
    54%{margin-left: -300%;}
    66%{margin-left: -300%;}
    72%{margin-left: -400%;}
    84%{margin-left: -400%;}
    90%{margin-left: -500%;}
    100%{margin-left: -500%;}
}

.btn__registro:hover{
    background: orange;
    transition: 0.3s;
}
.btn__login:hover{
    background: orange;
    transition: 0.3s;

}
@keyframes rotate-img__item {
    0%{
        transform: rotateY(0);
    }
    100%{
        transform: rotateY(360deg);
    }
    
}

.img__item:nth-child(2){
    animation: rotate-img__item 3s infinite;
}
.lugares__info:hover{
    transform: scale(1.07);
    transition: all 0.5s ;
    cursor: pointer;

}
  .layout__item:nth-child(1) {
    animation: scaleX 2s infinite alternate;
}
.layout__item:nth-child(2){
  animation: rotate-img__item 3s infinite;
}
.layout__item:nth-child(5){
  animation: rotate-img__item 3s infinite;
}
@keyframes scaleX {
    from{
        transform: scaleX(1);
    }
    to {
        transform: scaleX(1.1);
    }
    
}
.layout__item1:nth-child(3){
  animation: rotate-img__item 3s infinite;
}
.layout__item1:nth-child(4){
  animation: rotate-img__item 3s infinite;
}
@keyframes slide-right {
  from{
      transform: translateX(100px);
  }
  to{
      transform: translateX(0);
  }
}
@keyframes fade {
  from{
      opacity: 0;
  }
  to{
      opacity: 1;
  }
  
  
}
.header__logo__titulo h1{
  animation: fade 1s ease-in,slide-right 1.3s ease-in-out;
}
@keyframes rotatey {
  0%{
    transform: rotateY(360deg);
  }
  100%{
    transform: rotateY(0deg);
  }
  
}
.footer__nav ul li img:hover{
 animation: rotatey 2s ease-in-out infinite ;
 cursor: pointer;
}
.footer__direccion img:hover{
  animation: rotatey 2s ease-in-out infinite ;
}