@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {

  background: #FFF8E5;




}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 35px;
  background: linear-gradient(45deg, #FFF8E5, #FFF8E5);
  position: sticky;
  width: 100%;
  top: 0;
  z-index: 1;
}


.header__logo__titulo {
  display: flex;
}

.header__logo__titulo a {
  color: #252525;
  text-decoration: none;
}

.header__logo__titulo h1 {
  padding-top: 30px;
  padding-left: 25px;
  font-style: italic;
  font-family: 'Playfair Display', serif;


}

.header__img {
  width: 100px;
}


.nav__menu__button {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 60px;
  height: 56px;
  padding: 10px;
  border-radius: 7px;
  background: transparent;
  cursor: pointer;
  gap: 3px;

}

.nav__menu__button span {
  width: 40px;
  height: 4px;
  background: #252525;
}

.nav__menu__toggle {
  display: none;
}

.nav__list {
  display: none;
  border-radius: 7px;
  padding: 20px;
  width: 150px auto;
  height: 250px;
  margin: 10px auto;
  box-shadow: 0 2px 6px 2px black;
  font-family: 'Zilla Slab', serif;
  font-weight: 600;
}

.nav__list li {
  list-style: none;
  padding: 10px 0;


}

.nav__list a {
  color: #565a5c;
  text-decoration: none;

}

.nav__menu__toggle:checked+.nav__list {
  display: block;
  background: linear-gradient(98.81deg, #FFA100 5%, #fafafa);
  position: absolute;

}

.slider__section {
  width: 800px;
  height: 450px;
  margin: 50px auto 0;
  overflow: hidden;
  box-shadow: 4px 8px 4px 0px #565a5c;
}

.slider__section ul {
  display: flex;
  animation: cambio 24s infinite alternate;
  width: 400%;
}

.slider__section li {
  width: 100%;
  list-style: none;

}

.slider__section img {
  width: 800px;
  height: 450px;
}

.section__info {
  padding: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.info__contenido {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: center;
}

.info__contenido p {
  font-family: 'Zilla Slab', serif;
  ;

}

.info__contenido h2 {
  font-size: 2rem;
  font-family: 'Playfair Display', serif;
  font-weight: 700;
}

.info__contenido-span {
  font-size: 20px;
  font-weight: 800;
}

.info__btn {
  padding: 10px;
}

.btn__registro {
  border-radius: 10px;
  width: 100px;
  height: 30px;
  background: transparent;
  border-color: #f1ae6b;
}

.btn__registro a {
  color: #252525;
  text-decoration: none;
}

.btn__login {
  border-radius: 10px;
  width: 100px;
  height: 30px;
  background: transparent;
  border-color: #f1ae6b;
}

.btn__login a {
  color: #252525;
  text-decoration: none;
}

.info__contenido__img {
  display: grid;
  grid-template-columns: 150px 150px;
  grid-auto-rows: 1fr;
  padding: 1rem;
  width: 40%;
  gap: 10px;

}

.img__item {
  border-radius: 1rem;
  width: 100%;
  box-shadow: 0 2px 4px 0 #565a5c;
}

.img__item:nth-child(1) {
  grid-column: 1/3;
  grid-row: 1/2;
}

.img__item:nth-child(2) {
  grid-column: 1/2;
  grid-row: 2/3;
}

.img__item:nth-child(3) {
  grid-column: 2/3;
  grid-row: 2/3;
}

.Destinos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Destinos h3 {
  font-size: 2rem;
  font-weight: 900;
  font-family: 'Playfair Display', serif;
}

.destinos__container {
  max-width: 1000px;
  padding-top: 20px;
}

.destinos__lugares {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 25px;
}

.lugares__info {
  max-width: 300px;
  height: 250px;
  background: #FAF5E4;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;

}

.lugares__info img {
  width: 300px;
  height: 200px;
}

.info {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;
  padding-top: 20px;
  overflow: hidden;
}

.info h5 {
  font-size: 1.2rem;

}

.info p {
  font-size: 1.2rem;
}

.beneficios {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 70px;
  gap: 50px;
}

.beneficios h3 {
  font-family: 'Playfair Display', serif;
  font-size: 2rem;
  font-weight: 700;
}

.beneficios__container {
  max-width: 1200px;
}

.beneficios__tipos {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
}

.beneficio__info {
  max-width: 350px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  text-align: center;
  border-radius: 30%;
  background: linear-gradient(to bottom, #FFA100, #FAF5E4);
  box-shadow: rgba(232, 153, 43, 0.818) 0px 0px 0px 3px;
}

.beneficio__info img {
  width: 30%;
}

.beneficio__info p {
  font-family: 'Zilla Slab', serif;
  font-weight: 600;
}

.footer {
  display: flex;
  flex-direction: column;
  
}

.footer h4 {
  text-align: center;
  padding-top: 100px;
  font-family: 'Playfair Display', serif;
  font-size: 1.5rem;
  font-weight: 700;

}
.footer__nav{
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.footer__nav ul{
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__nav li{
  list-style: none;
}
.footer__nav img{
  width: 100px;
  height: 100px;
}
.footer h6{
  text-align: center;
}


.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  gap: 25px;
  font-family: 'Zilla Slab', serif;
}

.login h1 {
  font-family: 'Playfair Display', serif;
  font-size: 1.5rem;
  font-weight: 800;
}

.login form {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: 0 auto;
  gap: 10px;
  color: #565a5c;
}

.login a {
  color: #252525;
  text-decoration: none;
}

.input-design {
  background: #FFF8E5;
  outline: none;
  border: none;
  border-bottom: 1px solid #565a5c;
}

.input-design:focus {
  border-color: #FFA100;
}


.paris__layout {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto auto;
  max-width: 1000px;
  padding: 50px 150px 0px 150px;
  gap: 10px;

}

.layout__item img {
  width: 100%;
  box-shadow: 0 2px 4px 0 #565a5c;
  border-radius: 1rem;

}

.layout__item:nth-child(1) {
  grid-column: 1/3;
  grid-row: 1/2;

}

.paquete__paris {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.paris__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1000px;
  text-align: center;
  padding: 50px 150px 0px 150px;

}

.paris__info h2 {
  font-family: 'Playfair Display', serif;
  font-size: 1.5rem;
  font-weight: 900;
}

.paris__info p {
  font-family: 'Zilla Slab', serif;
}

.paquete__bsas {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bsas__layout {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto auto;
  max-width: 1000px;
  padding: 50px 150px 0px 150px;
  gap: 10px;
}

.layout__item1 img {
  width: 100%;
  height: 250px;
  box-shadow: 0 2px 4px 0 #565a5c;
  border-radius: 1rem;
}

.layout__item1:nth-child(1) {
  grid-column: 1/3;
  grid-row: 1/2;
}

.bsas__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1000px;
  text-align: center;
  padding: 50px 150px 0px 150px;
}

.bsas__info h2 {
  font-family: 'Playfair Display', serif;
  font-size: 1.5rem;
  font-weight: 800;
}

.bsas__info p {
  font-family: 'Zilla Slab', serif;
}

.paquete__eeuu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.eeuu__layout {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto auto;
  max-width: 1000px;
  padding: 50px 150px 0px 150px;
  gap: 10px;
}

.eeuu__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1000px;
  text-align: center;
  padding: 50px 150px 0px 150px;
}

.eeuu__info h2 {
  font-family: 'Playfair Display', serif;
  font-size: 1.5rem;
  font-weight: 800;
}

.eeuu__info p {
  font-family: 'Zilla Slab', serif;
}

.paquete__caribe {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.caribe__layout {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto auto;
  max-width: 1000px;
  padding: 50px 150px 0px 150px;
  gap: 10px;
}

.caribe__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1000px;
  text-align: center;
  padding: 50px 150px 0px 150px;
}

.caribe__info h2 {
  font-family: 'Playfair Display', serif;
  font-size: 1.5rem;
  font-weight: 800;
}

.caribe__info p {
  font-family: 'Zilla Slab', serif;
}

.caribe__info ul li {
  font-weight: 800;
}

.caribe__info span {
  font-weight: 900;
  text-decoration: underline;
}